.desktop-nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100px;
  border: solid 3px #333;
  color: white;
  margin-bottom: 80px; }
  .desktop-nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around; }
  .desktop-nav li {
    display: flex;
    color: #333;
    flex-basis: 25%;
    padding: 30px 30px 0; }
  .desktop-nav li:hover {
    color: #ff9500; }
  .desktop-nav a {
    text-decoration: none;
    color: white; }

.logo-container {
  display: flex; }
  .logo-container .logo-button {
    background: transparent; }

.tagline-nav {
  display: flex;
  font-weight: normal;
  text-align: center;
  font-size: 17px;
  margin: 0;
  color: #d1d3d6; }

.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
  color: #555;
  text-decoration: none; }

.tagline {
  text-align: center;
  font-size: 17px;
  margin-bottom: 37px;
  color: #777; }

.title:hover {
  color: #ff9500; }

.hero-circles-container {
  display: flex;
  margin-top: 10px;
  height: 500px;
  width: 100%;
  justify-content: center; }

.circle-1, .circle-2, .circle-3 {
  border-radius: 50%; }
  .circle-1 button, .circle-2 button, .circle-3 button {
    background: none;
    border: none;
    margin: 0;
    padding: 0; }
  .circle-1 h1, .circle-2 h1, .circle-3 h1 {
    color: #333444;
    width: 150px; }

.circle-1:hover h1, .circle-2:hover h1, .circle-3:hover h1 {
  font-size: 3em; }

.circle-3:hover {
  background-image: url("../img/bio-pic3B.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .circle-3:hover h1 {
    color: #999; }

.circle-1 {
  position: relative;
  text-align: center;
  height: 500px;
  width: 500px;
  background: linear-gradient(to bottom, #ff9500 0%, #8f0091 100%); }
  .circle-1 h1 {
    padding-top: 10px;
    padding-left: 14px; }

.card1 {
  display: none;
  transform: translateX(400px);
  height: 150px;
  width: 200px;
  margin-left: 70px; }
  .card1 h2 {
    height: 20px;
    margin-bottom: 15px; }
  .card1 p {
    height: 50px; }

.circle-2 {
  position: relative;
  top: -431px;
  left: 79px;
  height: 350px;
  width: 350px;
  background: linear-gradient(to bottom, #ff9500 0%, #8f0091 100%); }
  .circle-2 h1 {
    padding-top: 14px;
    margin-left: 97px;
    font-size: 40px; }

.card2 {
  display: none;
  transform: translateX(-375px);
  height: 150px;
  width: 200px;
  margin-left: 70px; }
  .card2 .projects-card {
    height: 100px;
    width: 100px;
    background: orange; }
  .card2 .process-card {
    height: 100px;
    width: 100px;
    background: maroon; }

.circle-3 {
  position: relative;
  top: -712px;
  left: 154px;
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom, #ff9500 0%, #8f0091 100%); }
  .circle-3 h1 {
    padding-top: 60px;
    margin-left: 23px;
    font-size: 43px; }

.card3 {
  display: none;
  transform: translateX(300px);
  height: 150px;
  width: 200px;
  margin-left: 70px; }

.circle-1-mobile, .circle-2-mobile, .circle-3-mobile {
  display: none;
  background: linear-gradient(to bottom, #ff9500 0%, #8f0091 100%); }

.service-cards-container h1 {
  margin-top: 20px;
  text-align: center; }

.flex-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }
  .flex-container .box-1, .flex-container .box-2, .flex-container .box-3 {
    border-radius: 50%;
    height: 200px;
    flex-basis: 30%;
    padding: 20px; }
  .flex-container .box-1 {
    background: limegreen; }
  .flex-container .box-2 {
    background: pink; }
  .flex-container .box-3 {
    background: orange; }

@media (max-width: 1050px) {
  .circle-1, .circle-2, .circle-3, .hero-circles-container {
    display: none; }
  .circle-container-mobile {
    display: flex;
    flex-direction: row; }
  .circle-1-mobile, .circle-2-mobile, .circle-3-mobile {
    display: flex;
    flex-basis: 30%;
    min-width: 300px;
    height: 300px;
    border-radius: 50%;
    align-items: center;
    margin: 10px;
    padding-left: 20px; }
  .circle-1-mobile, .circle-2-mobile {
    padding-left: 75px; }
  .circle-3-mobile {
    padding-left: 30px; } }

.circle-container-mobile {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; }

.portfolio-container p {
  text-align: justify; }

.heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 40px; }
  .heading h1, .heading h2 {
    text-align: center;
    flex: 1;
    margin-bottom: 30px; }

.heading-text-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 250px;
  justify-content: center; }
  .heading-text-container p {
    display: inherit;
    min-height: 250px;
    flex: 1;
    max-width: 500px;
    text-align: justify; }

.problem-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 800px;
  margin-left: 100px; }
  .problem-heading h1 {
    display: inherit;
    flex: 1;
    justify-content: center; }
  .problem-heading .problem-text-container {
    display: inherit;
    flex: 2;
    max-width: 500px; }

.success-section {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.success-display-container {
  display: flex;
  justify-content: center; }
  .success-display-container .success-display-box {
    margin-top: 50px;
    display: inherit;
    flex: 1;
    border: 2px solid black;
    height: 200px;
    max-width: 500px; }

.success-circles {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .success-circles .circle1, .success-circles .circle2, .success-circles .circle3, .success-circles .circle4 {
    display: inherit;
    flex: 1;
    border-radius: 50%;
    height: 50px;
    max-width: 50px;
    margin: 0 50px;
    background: orange; }

.research-heading {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 800px;
  margin-top: 30px; }
  .research-heading h1 {
    display: inherit;
    flex: 1;
    justify-content: center;
    margin-left: 100px; }
  .research-heading .research-text-container {
    display: inherit;
    flex: 2;
    max-width: 500px;
    margin-left: 100px; }

.ux-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center; }
  .ux-container h2 {
    text-align: center;
    margin-top: 50px; }

.persona-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .persona-text p {
    margin-top: 50px;
    display: inherit;
    min-height: 250px;
    flex: 1;
    max-width: 500px;
    text-align: justify; }

.primary-persona-container {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-content: center; }
  .primary-persona-container .primary-persona {
    display: inherit;
    flex: 1;
    height: 250px;
    max-width: 500px;
    border: 2px solid steelblue;
    margin-top: 50px; }

.other-persona-container {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .other-persona-container .secondary-persona {
    display: inherit;
    flex: 1;
    height: 250px;
    max-width: 500px;
    min-width: 300px;
    border: 2px solid steelblue;
    margin: 50px 10px; }
  .other-persona-container .third-persona {
    display: inherit;
    flex: 1;
    height: 250px;
    max-width: 500px;
    min-width: 300px;
    border: 2px solid hotpink;
    margin: 50px 10px; }

.usage-container {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; }
  .usage-container .usage1 {
    display: inherit;
    flex: 1;
    height: 250px;
    max-width: 500px;
    min-width: 300px;
    border: 2px solid steelblue;
    margin: 0 10px; }
  .usage-container .usage2 {
    display: inherit;
    flex: 1;
    height: 250px;
    max-width: 500px;
    min-width: 300px;
    border: 2px solid hotpink;
    margin: 0 10px; }

.usage-text {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .usage-text p {
    margin-top: 50px;
    display: inherit;
    min-height: 250px;
    flex: 1;
    max-width: 500px;
    text-align: justify; }

.sitemap-container {
  display: flex;
  height: 300px;
  flex-direction: row;
  justify-content: center; }
  .sitemap-container .sitemap {
    display: inherit;
    flex: 1;
    height: 250px;
    max-width: 500px;
    border: 2px solid maroon; }

body {
  background: white; }

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', sans-serif; }

p {
  font-family: 'Playfair Display', serif; }

a:focus, a:hover {
  text-decoration: none; }

button:focus {
  outline: 0; }
