.hero{
    background-image: url('../img/yyc-skyline.png');
    background-size: cover;
    background-position: top;
    height: 300px;
}

.hero-image{
    height: 300px;
    width: 100%;
    background-size: cover;
    background-position: bottom;
}
