.title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
}
.tagline{
  text-align: center;
  font-size: 17px;
  margin-bottom: 37px;
}

.hero-circles-container{
  display: flex;
  margin-top: 10px;
  height: 500px;
  width: 100%;
  justify-content: center
}


.circle-1, .circle-2, .circle-3{
  border-radius: 50%;
  h1 {
    color: black;
    width: 150px;
  }
}

.circle-1{
  position: relative;
  text-align: center;
  height: 500px;
  width: 500px;
  border: 5px solid purple;
  background: white;

  .circle-1-h{
    margin-left: 177px;
    padding-top: 15px;
    font-size: 44px;
  }
}


.card1{
    transform:translateX(-500px);
    height: 150px;
    width: 200px;
    margin-left: 70px;
    color: transparent;

      h2{
        height: 20px;
        margin-bottom: 15px;
      }
      p{
        height: 50px;
      }

}
.circle-1:hover {
  transition: 0.4s;
  h1{
    color: #c12020;
  }
  .card1 {
      transform: translateX(450px);
      color: black;
  }
}


.circle-2{
  position: relative;
  top: -431px;
  left: 79px;
  height: 350px;
  width: 350px;
  border: 5px solid maroon;
  background: white;

  h1{
    padding-top: 14px;
    padding-left: 120px;
    font-size: 43px;
  }
}

.circle-2:hover{
  transition: 0.5s;
  .card2 {
      transform: translateX(450px);
      color: black;
  }
  .projects-card{
    background: steelblue;
  }
  .process-card{
    background: maroon;
  }
  h1{
    color: #e06416;
  }
}

.card2{
  transform:translateX(-500px);
  height: 150px;
  width: 200px;
  margin-left: 70px;
  color: transparent;

  .projects-card{
    height: 100px;
    width: 100px;
  }

  .process-card{
    height: 100px;
    width: 100px;
  }
}

.circle-3{
  position: relative;
  top: -712px;
  left: 154px;
  height: 200px;
  width: 200px;
  border: 5px solid orange;

  h1{
    padding-top: 60px;
    padding-left: 36px;
    font-size: 50px;
  }
}
.card3{
    transform:translateX(-500px);
    height: 150px;
    width: 200px;
    margin-left: 70px;
    color: transparent;
}

.circle-3:hover{
    transition: 0.5s;

    .card3 {
        transform: translateX(350px);
        color: black;
    }
}
