body{
  background: white;
}
.title{
  text-align: center;
  font-size: 40px;
  margin-bottom: 0;
  color: #555;
  text-decoration: none;
}
a:focus,a:hover{
  text-decoration: none;
}
.tagline{
  text-align: center;
  font-size: 17px;
  margin-bottom: 37px;
  color: #777;
}
.title:hover{
  color:#ff9500;
}
.hero-circles-container{
  display: flex;
  margin-top: 10px;
  height: 500px;
  width: 100%;
  justify-content: center
}

button:focus{
  outline: 0;
}

.circle-1, .circle-2, .circle-3{
  border-radius: 50%;

  button{
    background: none;
    border: none;
    margin: 0;
    padding: 0;
  }
  h1 {
    color: #333444;
    width: 150px;
  }
}

.circle-1:hover, .circle-2:hover, .circle-3:hover{
    h1{
      font-size: 3em;
  }
}

.circle-3:hover{
  background-image: url('../img/bio-pic3B.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  h1{
    color: #999;
  }
}
.circle-1{
  position: relative;
  text-align: center;
  height: 500px;
  width: 500px;
  background: linear-gradient(to bottom, #ff9500 0%,#8f0091 100%);
  h1{
    padding-top: 10px;
    padding-left: 14px;
  }
}


.card1{
    display: none;
    transform:translateX(400px);
    height: 150px;
    width: 200px;
    margin-left: 70px;
    // color: transparent;

      h2{
        height: 20px;
        margin-bottom: 15px;
      }
      p{
        height: 50px;
      }

}

.circle-2{
  position: relative;
  top: -431px;
  left: 79px;
  height: 350px;
  width: 350px;
  background: linear-gradient(to bottom, #ff9500 0%,#8f0091 100%);


  h1{
    padding-top: 14px;
    margin-left: 97px;
    font-size: 40px;
  }
}

.card2{
  display: none;
  transform:translateX(-375px);
  height: 150px;
  width: 200px;
  margin-left: 70px;
  // color: transparent;

  .projects-card{
    height: 100px;
    width: 100px;
    background: orange;
  }

  .process-card{
    height: 100px;
    width: 100px;
    background: maroon;
  }
}

.circle-3{
  position: relative;
  top: -712px;
  left: 154px;
  height: 200px;
  width: 200px;
  background: linear-gradient(to bottom, #ff9500 0%,#8f0091 100%);


  h1{
    padding-top: 60px;
    margin-left: 23px;
    font-size: 43px;
  }
}
.card3{
    display: none;
    transform:translateX(300px);
    height: 150px;
    width: 200px;
    margin-left: 70px;
}

.circle-1-mobile, .circle-2-mobile, .circle-3-mobile{
  display: none;
  background: linear-gradient(to bottom, #ff9500 0%,#8f0091 100%);
}
