@media (max-width:1050px) {

  .circle-1, .circle-2, .circle-3, .hero-circles-container {
    display: none;
  }
  .circle-container-mobile{
    display: flex;
    flex-direction: row;
  }

  .circle-1-mobile, .circle-2-mobile, .circle-3-mobile{
    display: flex;
    flex-basis: 30%;
    min-width: 300px;
    height: 300px;
    border-radius:50%;
    align-items: center;
    margin: 10px;
    padding-left: 20px;
  }

  .circle-1-mobile, .circle-2-mobile{
    padding-left: 75px;
  }

  .circle-3-mobile{
    padding-left:30px;
  }

}
.circle-container-mobile{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
